html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    color: white;
    background-color: black;
    font-family: Arial, sans-serif;
}

#canvasContainer {
    position: relative;
}

#introLink {
    position: absolute;
    top: 10px;
    left: 10px;
}

#settingsLink {
    position: absolute;
    top: 10px;
    right: 10px;
}

#settings {
    max-width: 800px;
}

h1 {
    text-align: center;
    margin-top: 5px;
    font-size: calc(1.75rem + 0.25vw);
}

legend {
    font-size: calc(1.2rem + 0.25vw);
}

p,
li,
label {
    font-size: calc(1.00rem + 0.25vw);
}

input {
    font-size: calc(0.9rem + 0.25vw);
    text-align: center;
}

ol,
ul {
    display: inline-block;
    margin: 0 auto 15px;
    text-align: left;
}

#introduction {
    text-align: left;
    max-width: 42rem;
}

#instructions {
    max-width: 22rem;
}

div.container {
    display: block;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #202020;
}

.settings {
    display: grid;
    grid-template-columns: max-content max-content auto;
    gap: 15px 8px;
    align-items: center;
}

.settings label {
    text-align: right;
}

.settings label:after {
    content: ":";
}

input[type=number] {
    width: 2.5em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type=range] {
    min-width: 0;
}

@media screen and (max-width: 425px) {
    input[type=range] {
        display: none;
    }

    .settings {
        grid-template-columns: max-content max-content;
        justify-content: center;
    }
}

button {
    display: block;
    width: 175px;
    padding: 1em 1.2em;
    border: 2px solid white;
    margin: 0.4em auto;
    border-radius: 42px;
    font-size: 1.2em;
    text-align: center;
    color: white;
    background-color: #101010;
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #202020;
}

#panicButton {
    margin: 20px auto;
    border-color: #b54a4a;
}

#panicButton:active {
    background-color: #b54a4a;
}

fieldset {
    margin: 20px 0;
    padding: 20px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #101010;
    text-align: center;
    border-top: 2px solid white;
}

a {
    color: white;
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }